<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Step Sequencer: MDModemnz</title>
    <meta
      name="description"
      content="Making an instrument with the Web Audio API"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      type="text/css"
      href="./node_modules/font-awesome/css/font-awesome.min.css"
    />
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="./src/style.css" />
  </head>
  <body>
    <div class="loading">
      <p>Loading...</p>
    </div>

    <div id="sequencer">
      <section class="controls-main">
        <h2>Step Sequencer</h2>
        <label for="bpm">BPM</label>
        <input
          name="bpm"
          onclick="learnAble(this)"
          id="bpm"
          onchange="app.bpm = this.value;"
          type="range"
          min="60"
          max="180"
          :value="bpm"
          step="1"
        />
        <span id="bpmval">{{ bpm }}</span>
        <button data-playing="false"></button>
        <button id="midiLearnButton" onclick="toogleLearning(this)">
          Learn MIDI
        </button>
        <label for="rate">spooky</label>
        <input
          name="rate"
          onclick="learnAble(this)"
          id="rate"
          onchange="app.rate = this.value;"
          type="range"
          min="0.1"
          max="2"
          step="0.1"
          :value="rate"
        />
        <span>happy</span>
      </section>

      <div id="tracks">
        <!-- track one: sample -->
        <section class="track-one">
          <section class="controls">
            <button class="dropbox" id="dropbox-1">Kick Drum 1</button>
          </section>
          <section class="pads">
            <button role="switch" aria-checked="false">
              <span>Voice 1, Note 1</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 1, Note 2</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 1, Note 3</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 1, Note 4</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 1, Note 5</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 1, Note 6</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 1, Note 7</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 1, Note 8</span>
            </button>
          </section>
        </section>

        <!-- track two: sample -->
        <section class="track-two">
          <section class="controls">
            <button class="dropbox" id="dropbox-2">Bell</button>
          </section>
          <!--
        -->
          <section class="pads">
            <button role="switch" aria-checked="false">
              <span>Voice 2, Note 1</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 2, Note 2</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 2, Note 3</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 2, Note 4</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 2, Note 5</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 2, Note 6</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 2, Note 7</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 2, Note 8</span>
            </button>
          </section>
        </section>

        <!-- track three: sample -->
        <section class="track-three">
          <section class="controls">
            <button class="dropbox" id="dropbox-3">Slap</button>
          </section>
          <section class="pads">
            <button role="switch" aria-checked="false">
              <span>Voice 3, Note 1</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 3, Note 2</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 3, Note 3</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 3, Note 4</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 3, Note 5</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 3, Note 6</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 3, Note 7</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 3, Note 8</span>
            </button>
          </section>
        </section>

        <!-- track four: sample -->
        <section class="track-four">
          <section class="controls">
            <button class="dropbox" id="dropbox-4">High Hat</button>
          </section>
          <!--
        -->
          <section class="pads">
            <button role="switch" aria-checked="false">
              <span>Voice 4, Note 1</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 4, Note 2</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 4, Note 3</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 4, Note 4</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 4, Note 5</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 4, Note 6</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 4, Note 7</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 4, Note 8</span>
            </button>
          </section>
        </section>

        <!-- track five: sample -->
        <section class="track-five">
          <section class="controls">
            <button class="dropbox" id="dropbox-5">Conga</button>
          </section>
          <!--
        -->
          <section class="pads">
            <button role="switch" aria-checked="false">
              <span>Voice 5, Note 1</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 5, Note 2</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 5, Note 3</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 5, Note 4</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 5, Note 5</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 5, Note 6</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 5, Note 7</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 5, Note 8</span>
            </button>
          </section>
        </section>

        <!-- track six: sample -->
        <section class="track-six">
          <section class="controls">
            <button class="dropbox" id="dropbox-6">Bass Drum</button>
          </section>
          <!--
        -->
          <section class="pads">
            <button role="switch" aria-checked="false">
              <span>Voice 6, Note 1</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 6, Note 2</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 6, Note 3</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 6, Note 4</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 6, Note 5</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 6, Note 6</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 6, Note 7</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 6, Note 8</span>
            </button>
          </section>
        </section>

        <!-- track seven: sample -->
        <section class="track-seven">
          <section class="controls">
            <button class="dropbox" id="dropbox-7">Accordion 1</button>
          </section>
          <!--
        -->
          <section class="pads">
            <button role="switch" aria-checked="false">
              <span>Voice 7, Note 1</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 7, Note 2</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 7, Note 3</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 7, Note 4</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 7, Note 5</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 7, Note 6</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 7, Note 7</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 7, Note 8</span>
            </button>
          </section>
        </section>

        <!-- track eight: sample -->
        <section class="track-eight">
          <section class="controls">
            <button class="dropbox" id="dropbox-8">Accordion 2</button>
          </section>
          <!--
        -->
          <section class="pads">
            <button role="switch" aria-checked="false">
              <span>Voice 8, Note 1</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 8, Note 2</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 8, Note 3</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 8, Note 4</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 8, Note 5</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 8, Note 6</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 8, Note 7</span>
            </button>
            <button role="switch" aria-checked="false">
              <span>Voice 8, Note 8</span>
            </button>
          </section>
        </section>
      </div>
    </div>
    <!-- sequencer -->

    <!-- Pattern Selector -->
    <div id="patternselector">
      <div id="headline">
        <h2>Pattern select</h2>
        <span id="addpattern"
          ><i class="fa fa-floppy-o" aria-hidden="true"></i
        ></span>
      </div>
      <div id="patternList"></div>
      <div id="patternEdit" style="display:none">
        <div class="closebtn">
          <i class="fa fa-times-circle-o" aria-hidden="true"></i>
        </div>
        <div class="editTitle">
          <span contenteditable="true">Blintext</span>
        </div>
        <div class="editPads"></div>
      </div>
    </div>
    <!-- Pattern Selector -->

    <!-- Controller -->
    <script src="./src/controller.js"></script>
    <!-- Pattern Selector -->
    <script src="./src/midimanager.js"></script>

    <script src="./src/wavetable.js"></script>
    <script src="./src/main.js" type="module"></script>

    <!-- Pattern Selector -->
    <!-- <script src="./src/patternselector.js"></script> -->
  </body>
</html>
