:root {
  --orange: hsla(32, 100%, 50%, 1);
  --yellow: hsla(49, 99%, 50%, 1);
  --lime: hsla(82, 90%, 45%, 1);
  --green: hsla(127, 81%, 41%, 1);
  --red: hsla(342, 93%, 53%, 1);
  --turquoise: hsla(156, 59%, 85%, 1);
  --blue: hsla(211, 92%, 52%, 1);
  --pigeonBlue: hsla(206, 59%, 83%, 1);
  --cyan: hsla(195, 98%, 55%, 1);
  --white: hsla(0, 0%, 95%, 1);
  --black: hsla(0, 0%, 10%, 1);
  --darkBlue: hsla(187, 90%, 9%, 1);

  /* abstract our colours */
  --boxMain: var(--turquoise);
  --boxSecond: var(--pigeonBlue);
  --boxHigh: var(--yellow);
  --border: 0.8vmin solid var(--darkBlue);
  --pad-border: 0.25vmin solid var(--darkBlue);
  --borderRad: 10px;
  --controls-main-height: 20%;

  /* make text non-selectable */
  user-select: none; /* Standard */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  padding: 0;
  font-family: sans-serif, system-ui;
  font-size: 120%;
  color: var(--black);
}

h2 {
  font-size: 1.2em;
}

/* loading ~~~~~~~~~~~~~~~~~~~~~ */
.loading {
  background: var(--white);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading p {
  font-size: 200%;
  text-align: center;
  animation: loading ease-in-out 2s infinite;
}

@keyframes loading {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* sequencer ~~~~~~~~~~~~~~~~~~~~~~~~~ */
#sequencer {
  height: 100%;
  width: 70%;
  margin: 0 auto;
  background-color: var(--boxMain);
  border: var(--border);

  /*display:inline-block;*/
  float: left;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~ top section */
.controls-main {
  height: var(--controls-main-height);
  padding: 1vw;
  background-color: var(--boxSecond);
  border-bottom: var(--border);
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /*grid-template-columns: repeat(5, auto);*/
  align-items: center;
  font-size: 3vmin;
  white-space: nowrap;
}
.controls-main input {
  width: 100%;
}

.controls-main label {
  justify-self: end;
  padding-right: 10px;
}

.controls-main span {
  padding-left: 10px;
}

/* play button */
[data-playing] {
  align-self: stretch;
  border: var(--border);
  border-radius: var(--borderRad);
  background-color: var(--boxSecond);
  cursor: pointer;
}

[data-playing="false"] {
  background: var(--turquoise)
    url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z" fill="black" /></svg>')
    no-repeat center center;
  background-size: 60% 60%;
  cursor: pointer;
}

[data-playing]:hover {
  background-color: var(--yellow);
}

[data-playing="true"] {
  background: var(--green)
    url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48z" fill="black" /></svg>')
    no-repeat center center;
  background-size: 60% 60%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~ main body */
#tracks {
  height: 80%;
}

[class^="track"] {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 15% 85%;
  align-items: center;
}
/*bigger window*/
@media (min-width: 1000px) {
  .pads {
    height: 70px;
    width: calc(70px * 8);
  }
}
/*smaller window*/
@media (max-width: 750px) {
  [class^="track"] {
    white-space: nowrap;
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~ sliders */
.controls {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  align-items: center;
}

.controls label {
  justify-self: end;
  padding-right: 10px;
}

.controls input {
  margin-right: 20px;
}

.controls input:nth-of-type(2),
.controls label:nth-of-type(2) {
  margin-top: 20px;
}

.dropbox {
  font-size: 75%;
  overflow: hidden;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~ pads */
.pads {
  display: flex;
  justify-content: space-between;
}

.pads button {
  width: 12.5%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: var(--white);
  border: var(--pad-border);
}
.pads:after {
  content: "";
  display: block;
  padding-bottom: 12.5%;
  /*flex-shrink: 1; !* default 1 *!*/
}

.pads button[aria-checked="true"] {
  background-color: var(--boxHigh);
}

.pads button span {
  display: none;
}
[aria-checked]:hover {
  background-color: var(--yellow);
}

/* range input styling ~~~~~~~~~~~~~~~~~~~ */

input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -1vh;
  height: 4vh;
  width: 2vw;
  border: 0.5vmin solid var(--black);
  border-radius: var(--borderRad);
  background-color: var(--boxSecond);
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  height: 4vh;
  width: 2vw;
  border: 0.5vmin solid var(--black);
  border-radius: var(--borderRad);
  background-color: var(--boxSecond);
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  height: 4vh;
  width: 2vw;
  border: 0.5vmin solid var(--black);
  border-radius: var(--borderRad);
  background-color: var(--boxSecond);
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 2vh;
  cursor: pointer;
  background-color: var(--black);
  border-radius: var(--borderRad);
}

input[type="range"]::-moz-range-track {
  height: 2vh;
  cursor: pointer;
  background-color: var(--black);
  border-radius: var(--borderRad);
}

input[type="range"]::-ms-track {
  height: 2vh;
  cursor: pointer;
  background-color: var(--black);
  border-radius: var(--borderRad);
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-thumb {
  background-color: var(--boxHigh);
}

input[type="range"]:focus::-moz-range-thumb {
  background-color: var(--boxHigh);
}

input[type="range"]:focus::-ms-thumb {
  background-color: var(--boxHigh);
}

/* Pattern Selector ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#patternselector {
  float: left;
  background-color: var(--turquoise);
  width: 30%;

  padding-left: 15px;
  padding-bottom: 15px;
  border-top: var(--border);
  border-right: var(--border);
  border-bottom: var(--border);
}
#patternselector #headline h2 {
  display: inline-block;
  width: 225px;
}
#patternselector #headline span {
  display: inline-block;
  font-size: 26px;
  width: 42px;
  text-align: center;
}
#addpattern {
  cursor: pointer;
}
.pattern {
  cursor: pointer;
}
.pattern .patternName {
  display: inline-block;
  width: 234px;
}
#patternEdit .editPads {
  margin: 10px;
}
#patternEdit {
  display: block;
  background-color: var(--orange);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
#patternEdit .pad {
  margin: 3px;
  display: inline-block;
  background-color: white;
  width: 60px;
  height: 60px;
  border: var(--pad-border);
}

#patternEdit .pad[aria-checked="true"] {
  background-color: var(--boxHigh);
}

#patternEdit .closebtn > i {
  display: block;
  top: -5px;
}
#patternEdit .closebtn {
  display: block;
  text-align: center;

  width: 40px;
  height: 40px;
  position: absolute;
  font-size: 40px;
  left: calc(100% - 20px);
  top: -20px;

  background-color: var(--blue);
  border-radius: 40px;
}
#patternEdit .editTitle {
  text-align: center;
}
#patternEdit .editTitle:hover {
  background-color: var(--yellow);
}
/* Pattern Selector Ende ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#midiLearnButton {
  width: 65%;
  align-self: stretch;
  border: var(--border);
  border-radius: var(--borderRad);
  background-color: var(--boxSecond);
  cursor: pointer;
  overflow: hidden;
}

.dropbox {
  align-self: stretch;
  border: var(--border);
  border-radius: var(--borderRad);
  background-color: var(--boxSecond);
  cursor: pointer;
}
